.color-box {
    
    // width: 100px;
    // height: 100px;
    color: rgb(89, 14, 139);
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    // align-items: center;
    // justify-content: center;
    border-radius:5px;
    
}
